// Mixins pour le projet

@mixin film-card($shadow-color: lightblue) {
    box-shadow: 10px 10px 5px $shadow-color;
    flex: 1 1 18rem;
    max-width: 40rem;
    align-items: center;
    margin: 20px;
    padding: 10px;
}