// Règles de style pour la section hero

.card .hero-card {
    color: white;
    border-radius: 8px;
    overflow: hidden;
    margin: auto;
}

.hero-card .film-header {
    color: black;
}

.hero-card .film-bg {
    // background-size: cover;
    // background-position: center;
    // min-height: 300px;
    // padding: 2em;
    // position: relative;
    // align-items: flex-end;
    // background-color: rgba(0, 0, 0, 0.5);
    // opacity: 0.5;
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

.hero-card .film-bg .film-description .overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    // background: rgba(0, 0, 0, 0.5);
    // z-index: 2;
    // background-color: rgba(0,0,0,1);
    // opacity: 1;
    // color: white;
    // padding: 1em;
}