// Règles générales de typographie

$font-primary: 'Netflix Sans', 'Helvetica Neue', sans-serif;
$font-secondary: 'Arial', sans-serif;
$font-size-base: 16px;
$font-size-large: 24px;
$font-size-small: 14px;
